body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    /*font-size: 16px;*/
    font-size: 16px !important;
    color: gray;
    margin: 2em;
    padding: 2em;
}

#divLoading {
    display: block;
}

#divNoCallControl {
    display: none;
}

#divCallControl {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#divOutcomesTop {
    background-color: gray;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#editPanel {
    display: block;
    color: white;
    position: absolute;
    left: -330px;
    width: 350px;
    top: 40px;
    bottom: 30px;
    background-color: #338042;
    background-image: url(../images/LeftPanel.png);
    background-repeat: no-repeat;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid gray;
}

#editSave {
    margin-top: 10px;
    width: 345px;
    text-align: right;
}

#mainPanel {
    position: absolute;
    overflow-y: auto;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    padding: 20px 5px 5px;
}

#notesPanel {
    display: block;
    color: white;
    position: absolute;
    width: 20px;
    right: 0;
    top: 40px;
    bottom: 40px;
    background-color: #338042;
    background-image: url(../images/LeftPanel_Grey.png);
    background-repeat: no-repeat;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

#notesHistory {
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    top: 310px;
    bottom: 0;
}

#notesSave { /* a small panel under the textbox allowing us to right align the save button */
    width: 345px;
    text-align: right;
}

#txtNotes {
    width: 340px;
    height: 125px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#divOutcomesBottom {
    position: absolute;
    bottom: 0;
    background-color: gray;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#divPreviewMode, #divRelease, #divReschedule, #divReassign {
    position: fixed;
    bottom: 50px;
    height: 150px;
    /*bottom: 250px;*/
    /*height: 450px;*/
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 255, 0.75);
    color: white;
    text-align: center;
    border: 1px solid black;
    font-size: 20pt;
    font-weight: bold;
    overflow: hidden;
    display: none;
}

#divRelease {
    display: none;
    line-height: 35px;
}

#divReassign {
    line-height: 35px;
}

#divPreviewMode div {
    height: 50px;
    line-height: 50px;
}

#divPreviewMode select, #divRelease select {
    font-size: 12pt;
}

#divPreviewMode input {
    font-size: 12pt;
}

#divReschedule {
    /*height:200px;*/
}

#divDialling {
    position: fixed;
    bottom: 100px;
    height: 100px;
    left: 0;
    right: 0;
    background-color: rgba(0, 155, 0, 0.75);
    color: white;
    text-align: center;
    border: 1px solid black;
    font-size: 20pt;
    font-weight: bold;
    overflow: hidden;
    display: none;
    line-height: 100px;
}

#divEmulation {
    position: fixed;
    top: 50px;
    height: 50px;
    left: 0;
    right: 0;
    font-size: 20pt;
    font-weight: bold;
    background-color: rgb(100, 0, 0);
    background-color: rgba(100, 0, 0, 0.75);
    text-align: center;
    line-height: 50px;
    color: white;
    border: 1px solid black;
    display: none;
}

#divHistory {
    position: absolute;
    right: 20px;
    top: 20px;
}

#divHistory .additional {
    font-style: italic;
}

.navigate {
    font-style: normal;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 13pt;
}

.dataItem {
    color: blue;
}

.dataEdit {
    color: green;
    /* Un-comment to set width of edit fields */
    /* width:300px; */
}

.dataEditSideBar {
    color: green;
    width: 200px;
}

.dataError {
    color: #FF0000;
    background-color: #FFE0E0;
}

.prompt {
    font-style: italic;
    font-weight: bold;
    color: green;
}

.question {
    font-size: 14pt;
    display: none;
    padding: 10px;
}

.question textarea {
    width: 50%;
    height: 250px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.answer {
    color: black;
    font-size: 12pt;
    font-style: normal;
    cursor: pointer;
    padding: 5px;
    border-top: 2px solid #F0F0F0;
    border-left: 2px solid #F0F0F0;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background-color: #E0E0E0;
}

.question a:link {
    color: blue;
}

.answer a:visited {
}

.answer a:active {
}

.answer a:hover {
    color: red;
}


.button {
    border: 1px solid #909090;
    color: #303030;
    background-color: #E0E0E0;
    padding: 3px 7px;
    cursor: pointer;
    /*line-height: 35px;*/
}

.previewingButton {
    font-size: 10pt;
    margin-bottom: 10px;
    line-height: 20px;
}

.bigButton, .medButton {
    /*float:left;*/
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #909090;
    cursor: pointer;
    background-color: #E0E0E0;
    line-height: 60px;
}

.redButton {
    color: #F00000;
}

.greenButton {
    color: #00A000;
}

.buttonOver {
    background-color: #50b948;
}

.dispositionButton {
    border: 1px solid #3F3F3F;
    border-radius: 3px;
    color: #E00000;
    background-color: #C0C0C0;
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 3px 7px 3px 26px;
    margin-left: 5px;
    cursor: pointer;
}

.dispositionButton_Terminal {
    background-image: url(../images/Cross.png);
}

.dispositionButton_Recycle {
    background-image: url(../images/Refresh.png);
}

.dispositionButtonOver {
    background-color: #E0E0E0;
    color: red;
}

.callHistoryRow .disposition {
    font-weight: bold;
}

.callHistoryRow .timeStamp {
    font-style: italic;
    font-size: smaller;
}

.callHistoryRow .userName {
    font-style: italic;
    font-size: smaller;
}

.noteUnsaved {
    background-color: #C0E0FF;
}

.note {
    background-color: white;
    border: 1px solid black;
    color: black;
    white-space: normal;
    padding: 5px;
    width: 335px;
    overflow: hidden;
    margin-top: 10px;
}

.noteHeading {
    font-weight: bold;
    font-style: italic;
    color: grey;
}

.noteBody {
}

#divMaskConfirm, #divMaskSaving, #divMaskMessageBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

#divMessageBox, #divSaving {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    margin-top: -200px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 14pt;
    background-color: rgba(50, 50, 50, 0.85);
}

.dialogButtons {
    text-align: right;
}