
.yes {
    background-color: #66EE4A;
}


.no {
    background-color: #4DCAE6;
}


.btn {
    position: relative;
    display: inline-block;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: #ffffff;
    -webkit-box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    cursor: pointer;
}


.uncle-link {
    position: relative;
    display: inline-block;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: #ffffff !important;
    font-weight: bold;
    background-color: #ff9900;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}


.uncle-link:hover {
    background-color: #ffcc00;
}


.error {
    position: relative;
    display: inline-block;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: red;
    font-size: 150%;
    font-style: italic;
    background: #ffcc00;
    -webkit-box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    animation: error 1s infinite;
}


.card-container {
    margin: 1em;
    padding: 1em;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}


.caller-details {
    text-align: center;
}


.grid-item {
    padding: 0.5em;
}


.grid-top {
    border-radius: 5px 5px 0 0;
}


.grid-bottom {
    border-radius: 0 0 5px 5px;
}


.grid-middle {
    background-color: gray;
    padding: 1em !important;
}


.btn-middle {
    margin: 0 !important;
}


@-webkit-keyframes error {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}


@keyframes error {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}


.btn_div {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    color: #ffffff;
    -webkit-box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
    box-shadow: inset -29px -28px 107px -1px rgba(0, 0, 0, 0.39);
}


.button-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


#infoicon {
    display: inline-block;
    color: #ffffff;
    /*background-color: transparent;*/
    border: none;
    font-size: 30px;
    margin-top: 6px;
    /*text-align: left !important;*/
    text-align: left;
    cursor: pointer;
}


.greet {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}


.back {
    color: #ffffff;
    font-weight: bold;
    margin: 2em 2em 1em;
    width: 80px;
    height: 30px;
    background-color: #50b948;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}


.continue {
    color: #ffffff;
    font-weight: bold;
    margin: 2em 2em 1em;
    width: 300px;
    height: 30px;
    background-color: #50b948;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}


.continue:hover, .not_continue:hover {
    color: #ffffff;
    font-weight: bold;
    margin: 2em 2em 1em;
    width: 300px;
    height: 30px;
    background-color: #ffba00;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
}


.not_continue {
    color: #ffffff;
    font-weight: bold;
    margin: 2em 2em 1em;
    width: 300px;
    height: 30px;
    background-color: red;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    box-shadow: inset -1px -1px 4px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}


html, body {
    /*font-size: 100% !important;*/
    zoom: 200% !important;
    /* TODO: change pop screen size */
}