#divKPIs {
    position: fixed;
    left: 505px;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid gray;
}

#divChatWall {
    position: fixed;
    left: 0;
    width: 500px;
    top: 0;
    bottom: 0;
    border: 1px solid red;
    background-color: #E8E8E8;
}

#divChatWallHeading {
    padding: 10px;
    background-color: #E8E8E8;
    color: blue;
    font-size: 16pt;
    font-weight: bold;
}

#divChatMessages {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

#divPostMessage {
    padding: 10px;
    border: 1px solid green;
    height: 50px;
    font-size: 14pt;
}

#divPostMessageButtons {
    text-align: right;
    width: 100%;
}

.Message {
    border: 1px solid gray;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.NewMessage {
    display: none;
}

.PostedDate {
    font-size: smaller;
}